.button{
    display: flex;
    flex-direction: column;
    height: 6vh;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 1vh 1vw;
    cursor: pointer;
    background-color: black;
  -webkit-box-shadow: 0px 1px 4px 0px whitesmoke;
    box-shadow: 0px 1px 4px 0px whitesmoke;
    transition: background-color .2s ease-in-out;
}
.button:active{
    background-color: #ddd;
}